<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${title}"></title>
  <!--/*/<th:block th:insert="general.html :: headerfiles"></th:block>/*/-->
</head>
<body>
<div th:replace="general.html :: mainmenu"></div>
<div class="container">
  <main>
    <h2 th:text="${title}"></h2>
    <p><a th:href="@{/customer/add}">Add customer</a></p>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="customer : ${customers}">
            <td th:text="${customer.name}"></td>
            <td>
              <a th:href="@{/customer-product/{id}(id=${customer.id})}">Products</a>
              <a th:href="@{/customer/edit/{id}(id=${customer.id})}">Edit</a>
              <a th:href="@{/customer/delete/{id}(id=${customer.id})}">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>
<!--/*/<th:block th:insert="general.html :: footer"></th:block>/*/-->
</body>
</html>