<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${title}"></title>
  <!--/*/<th:block th:insert="general.html :: headerfiles"></th:block>/*/-->
</head>
<body class="bg-light">
<div th:replace="general.html :: mainmenu"></div>
<main class="container">
  <div class="row g-5">
    <div class="col-md-7 col-lg-8">
      <th:block th:switch="${customer.id}">
        <h1 th:case="0">Add Customer</h1>
        <h1 th:case="*">Edit Customer</h1>
      </th:block>
      <form action="#" th:action="@{/customer/save/{id}(id=${customer.id})}" th:object="${customer}" method="post">
        <div class="row g-5">
          <div class="col-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Name"/>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
          </div>
          <div class="col-12">
            <label for="address" class="form-label">Address</label>
            <textarea class="form-control" th:field="*{address}" id="address"></textarea>
            <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
          </div>
        </div>
        <hr class="my-4"/>
        <a href="/customer/list" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-primary">Save Customer</button>
      </form>
    </div>
  </div>
</main>
<!--/*/<th:block th:insert="general.html :: footer"></th:block>/*/-->
</body>
</html>