<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${title}"></title>
  <!--/*/<th:block th:insert="general.html :: headerfiles"></th:block>/*/-->
</head>
<body>
<div th:replace="general.html :: mainmenu"></div>
<main class="container">
  <div class="row g-5">
    <div class="col-md-8 col-lg-8">
      <h1 th:text="${title}"></h1>
      <form action="#" th:action="@{/product/save}" th:object="${product}" method="post">
        <input type="hidden" th:field="*{id}" in="id"/>
        <div class="row g-3">
          <div class="col-12">
            <label for="name" class="form-label">Название</label>
            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('name') ? 'is-invalid' :''}" th:field="*{name}" id="name" placeholder="Название">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
          </div>
          <div class="col-12">
            <label for="sku" class="form-label">Артикул</label>
            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('sku') ? 'is-invalid' :''}" th:field="*{sku}" id="sku" placeholder="Артикул">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('sku')}" th:errors="*{sku}"></div>
          </div>
          <div class="col-12">
            <label for="price" class="form-label">Цена</label>
            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('price') ? 'is-invalid' :''}" th:field="*{price}" id="price" placeholder="Цена">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
          </div>
          <div class="col-12">
            <label for="stock" class="form-label">Запас</label>
            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('stock') ? 'is-invalid' :''}" th:field="*{stock}" id="stock" placeholder="Запас">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"></div>
          </div>
          <div class="col-12">
            <label for="uom" class="form-label">ЕИ</label>
            <select class="form-select" th:classappend="${#fields.hasErrors('uom') ? 'is-invalid' :''}" th:field="*{uom}" id="uom">
              <option value=""></option>
              <option th:each="uom : ${uoms}" th:value="${uom.code}" th:text="${uom.code}"></option>
            </select>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('uom')}" th:errors="*{uom}"></div>
          </div>
        </div>
        <hr class="my-4"/>
        <a th:href="@{/product/list}" class="btn btn-secondary">Отмена</a>
        <button type="submit" class="btn btn-primary">Сохранить</button>
      </form>
    </div>
  </div>
</main>
<!--/*/<th:block th:insert="general.html :: footer"></th:block>/*/-->
</body>
</html>