<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!--/*/<th:block th:insert="general.html :: headerfiles"></th:block>/*/-->
</head>
<body>
<div th:replace="general.html :: mainmenu"></div>
<div class="container">
  <main>
    <th:block th:insert="general.html :: messages"></th:block>
    <p>
      <a th:href="@{/product/add}" class="btn">Добавить товар</a>
      <a th:href="@{/product/list/template}" class="btn">Шаблон</a>
      <a th:href="@{/product/list/download}" class="btn">Выгрузить список</a>
    </p>
    <form enctype="multipart/form-data" action="#" th:action="@{/product/upload}" method="post">
      <input type="file" name="file"/>
      <button type="submit">Загрузить</button>
    </form>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Артикул</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Запас</th>
            <th>ЕИ</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="product : ${products}">
            <td th:text="${product.sku}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.stock}"></td>
            <td th:text="${product.uom}"></td>
            <td>
              <a th:href="@{/product/edit/{id}(id=${product.id})}">Изменить</a>
              <a th:href="@{/product/delete/{id}(id=${product.id})}" onclick="return confirm('Удалить товар?')">Удалить</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>
<!--/*/<th:block th:insert="general.html :: footer"></th:block>/*/-->
</body>
</html>