<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <!--/*/<th:block th:insert="general.html :: headerfiles"></th:block>/*/-->
</head>
<body>
<div th:replace="general.html :: mainmenu"></div>
<main class="container">
    <div class="bg-light p-5 rounded">
        <h1>Products</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Stock</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.stock}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<!--/*/<th:block th:insert="general.html :: footer"></th:block>/*/-->
</body>
</html>